* {
    padding: 0;
    margin: 0;
}
body {
    font-family: Poppins,sans-serif;
}
.whole {
    background: url('/images/bg.jpg') no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
}
.block {
    height: 500px;
    background: rgba(241, 241, 241, .9);
    background: url('/images/bgsm.jpg') no-repeat;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #000;
    padding: 0;
}
.opacity {
    padding-top: 60px;
    background: rgba(0, 0, 0, .3);
    width: 102.4%;
    height: 100%;
    border-radius: 5px;
    margin-left: -1.2%;
}
.block h2 {
    margin-bottom: 50px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 5px rgb(29, 26, 26);
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
}
.block h3 {
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 5px rgb(29, 26, 26);
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
}
.block a {
    text-decoration: none;
    color: #fff;
    padding: 8px 25px;
    background: #000;
    font-family: 'Roboto', sans-serif;
    border-radius: 3px;
    font-size: 20px;
    text-transform: uppercase;
    /* box-shadow: 1px 1px 7px #000; */
    transition: all .3s;
}
.block a:hover {
    color: #000;
    background: #fff;
    font-weight: 700;
}
.userLogo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #fff;
    text-align: center;
    overflow: hidden;
    margin-bottom: 20px;
    border: 5px solid rgb(223, 217, 217)
}
.userLogo img {
    width: 155px;
    margin-left: -7px;
    margin-top: -7px;
}
.nurse img {
    width: 180px;
    height: 180px;
    margin-top: -18px;
    margin-left: -18px;
}
.limiter a, span, input, button {
    font-family: sans-serif!important;
}
.limiter a {
    text-decoration: none;
}
.container-login100 {
    background: linear-gradient(to top, #B2FEFA, #0ED2F7)
}
.wrap-login100 {
    height: 600px;
    width: 900px;
    padding-top: 100px;
}
a {
    font-family: 'Roboto', sans-serif!important;
}
.elite-top-menu {
    background: #6c757d;
    height: 66px;
}
.nav-small-cap {
    background: #6c757d;
    height: 50px;
}
.nav-small-cap h4 {
    color: #fff;
    margin-top: -15px;
}
.dropdown-menu-right {
    background: #6c757d!important;
    color: #fff!important;
}
#calendar-month-year {
    text-align: center;
}
#calendar-dates {
    text-align: center;
}
#calendar-dates table {
    width: 100%!important;
    height: 290px;
}
.homeButton {
    margin: 5px;
}
#clock {
    margin: 20px auto;
    padding: 0;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 0 5px;
    width: 100%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 34px;
    font-family: calibri;
}
.yearCards {
    padding: 0 10px;
    margin-bottom: 3px;
    background: rgba(241, 241, 241, 0.1);
}
.yearCards h2 {
    font-size: 20px;
    font-family: Poppins,sans-serif;
}